<form action="/models" method="GET">
  <p>
    <label>Escolha a Fabricante:</label>

    <%= select_tag "webmotors_make_id", options_from_collection_for_select(makes, 'id', 'name') %>
  </p>

  <input type="submit" value="Buscar modelos">
</form>
